@import 'tailwindcss';

*,
body {
	font-family: 'Nunito', sans-serif;
}
.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.airport-img {
	background-image: url('./assets/Airpods.jpg');
	background-size: cover; /* Make image cover the element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent tiling */
	height: 200px;
}
.smartwatch-img {
	background-image: url('./assets/smart Watch.jpg');
	background-size: cover; /* Make image cover the element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent tiling */
	height: 200px;
}
.laptop-img {
	background-image: url('./assets/laptop.jpg');
	background-size: cover; /* Make image cover the element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent tiling */
	height: 200px;
}
.phone-img {
	background-image: url('./assets/phone banner.jpg');
	background-size: cover; /* Make image cover the element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent tiling */
	height: 200px;
}
.headset-img {
	background-image: url('./assets/Headset.jpg');
	background-size: cover; /* Make image cover the element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent tiling */
	height: 200px;
}
